body{
    margin: 0px;
    width: 1440px;
}
header{
    margin-top: 27px;
    margin-left: 72px;
    margin-bottom: 34px;
    height: 42px;
    width: 126px;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.io{
    color: #4B9760;
}
main{
    display: flex;
    overflow: hidden;
}
img{
    height: 532px;
    width: 1130px;
    margin-left: 155px;
    border-radius: 10px;
    margin-bottom: 39px;
    margin-right: 80px;
}
footer{
    background-color:#4B9760;
    height: 171px;
    color: #FFFFFF;
}
.button-group{
    display: flex;
    align-items: center;
    /* color: #FFFFFF; */
}
#previousIcon {
    background: url('skip_previous.svg');
    height: 23px;
    width: 23px;
    display: inline-block;
    margin-left: 620.5px;
    margin-top: 54.5px;
    margin-bottom: 93.5px;
    margin-right: 11.5px;
    /* Other styles here */
}
#previousText {
    display: inline-block;
    font-size: 12px;
    width: 29px;
    height: 32px;  
    margin-top: 50px;
    margin-bottom: 89px;
    margin-right: 29px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}
#text{
    display: inline-block;
    font-family: DM Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 81px;
    margin-right: 29px;
}
#nextText {
    display: inline-block;
    font-size: 12px;
    width: 29px;
    height: 32px;   
    margin-top: 50px;
    margin-bottom: 89px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}
#nextIcon {
    background: url('skip_next.svg');
    height: 23px;
    width: 23px;
    display: inline-block;
    margin-right: 620.5px;
    margin-top: 54.5px;
    margin-bottom: 93.5px;
    margin-left: 11.5px;
    /* Other styles here */
}

